@import url("https://fonts.googleapis.com/css2?family=Combo&family=Poppins&display=swap");

* {
  color: black;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 70vh;
  margin-top: 20vh;
}

section .header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid rgba(0, 0, 0, 0.197);
  width: 100%;
}

section .header-div header {
  padding: 15px;
}

section div .refresh {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  opacity: 40%;
  height: 40%;
}

section form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.197);
}

section form .add-list-input {
  border: none;
  width: 98%;
  outline: none;
  padding: 15px 10px 15px 10px;
}

section form .add-newlist-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  opacity: 40%;
}

ul {
  width: 100%;
  height: 30vh;
  overflow-y: scroll;
}

section .clear-all-btn {
  width: 100%;
  padding: 15px;
  border: none;
  cursor: pointer;
}

section .clear-all-btn:active {
  background-color: rgba(0, 0, 0, 0.211);
}

/* js classes */

li {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  margin-top: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.205);
}

.checkbox {
  width: 20px;
  height: 30px;
  cursor: pointer;
}

.childTextArea {
  width: 90%;
  padding: 0 0 0 10px;
  height: 25px;
  border: none;
  outline: none;
  resize: none;
}

.childTextArea::-webkit-scrollbar {
  display: none;
}

.completed {
  text-decoration: line-through;
}

.dltIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
  opacity: 50%;
}

.dltIcon:hover {
  opacity: 100%;
}
